@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-white m-0 p-0 overflow-hidden;
    font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
}

.bg-grid-pattern {
  background-image: linear-gradient(to right, rgba(255,255,255,0.05) 1px, transparent 1px),
                    linear-gradient(to bottom, rgba(255,255,255,0.05) 1px, transparent 1px);
  background-size: 50px 50px;
}
